@import "rsuite/dist/rsuite.css";

.messages-container {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-bottom: 2px;
  font-size: 16px;
  margin-top: 60px; 
  margin-bottom: 70px; 
}

.user-message-container,
.assistant-message-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 4px 0;
}

.user-message-container {
  align-self: flex-end;
  align-items: flex-end;
}

.assistant-message-container {
  align-items: flex-start;
  align-self: flex-start;
  background-color: #ffffff;
  border-radius: 40px;
  border-top-left-radius: 0;
  color: #504c4c;
  padding: 14px;
  font-size: 13px;
  width: 100%;
  box-sizing: border-box;
}

.message {
  white-space: pre-line;
  padding: 14px;
  margin: 2px 0;
  border-radius: 10px;
  clear: both;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
}

.user-message {
  align-self: flex-end;
  font-size: 13px;
  background-color: #89877c;
  color: #ffffff;
  border-bottom-right-radius: 0;
  text-align: left;
}

.assistant-message {
  align-self: flex-start;
  background-color: #f9f5f5;
  color: #3e3b3b;
  padding: 14px;
  font-size: 13px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  border-bottom-left-radius: 0;
}

::-webkit-scrollbar {
  display: none;
}

.input-area {
  font-size: 15px;
  padding: 10px;
  bottom: 0;
  width: 100%;
  display: flex;
  border-top: 1px solid #ccc;
  background: #fff;
  position: fixed;
  width: calc(100% - 40px);
}

.input-area textarea {
  font-size: 15px;
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  resize: none;
  overflow-y: auto;
  min-height: 200px;
  max-height: 200px;
  margin-right: 10px;
}

.input-area input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 13px;
  outline: none;
}

.input-area input:focus {
  border-color: #337878; /* Change border color when focused */
  outline: 1px solid #337878; /* Add a custom outline */
  box-shadow: 0 0 5px rgba(51, 120, 120, 0.5); /* Optional: Add a subtle shadow */
}

.input-area button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #337878;
  color: white;
  cursor: pointer;
  font-size: 13px;
}

.predefined-buttons{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px 0;
  padding: 10px;
  background-color: #f9f9f9;
  border-top: 1px solid #ccc;
}
.predefined-button {
  padding: 8px 12px;
  border: 1px solid #337878;
  border-radius: 5px;
  background-color: #ffffff;
  color: #337878;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}
.predefined-button:hover {
  background-color: #337878;
  color: #ffffff;
}

.logo {
  height: 55px;
  display: block;
  margin: 10px 10px 10px 20px;
}

/* For smaller screens (e.g., mobile devices) */
@media (max-width: 350px) {
  .logo {
    content: url('../images/ps-small-logo.svg'); /* Use a smaller logo */
    max-width: 40%; /* Adjust size for smaller screens */
  }
}

.header-text {
  font-size: 16px; /* Larger font size for the header text */
  font-weight: bold;
  color: #1f1e1e; /* Dark gray text color */
  text-align: left; /* Center the text */
  margin-left: 10px; /* Add some left margin */
  flex: 1; /* Allow the text to take up remaining space */
}
.assistant-message-wrapper{
  display: flex;
  align-items: flex-end; /* Align items at the top */
  margin-bottom: 10px; /* Add spacing between messages */
}

.message-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.dot {
  font-size: 34px;
  margin: 0 8px;
  color: #337878;
  animation: blink 3.5s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes blink {
  0%, 20%, 40%, 60%, 80%, 100% {
    opacity: 0;
  }
  10%, 30%, 50%, 70%, 90% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0%, 20%, 40%, 60%, 80%, 100% {
    opacity: 0;
  }
  10%, 30%, 50%, 70%, 90% {
    opacity: 1;
  }
}
